In [1]:
!pip install /Users/zehaodong/Documents/GitHub/financial-planner

Processing /Users/zehaodong/Documents/GitHub/financial-planner
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Building wheels for collected packages: financial-planner
  Building wheel for financial-planner (PEP 517) ... done
  Created wheel for financial-planner: filename=financial_planner-0.0.2-py2.py3-none-any.whl size=41562 sha256=b32d479ee8e0fe18453ffdf501a9a41f907214812ef2cbc25392a5f65eea8659
  Stored in directory: /Users/zehaodong/Library/Caches/pip/wheels/d6/2e/74/de1092ce1238911e4b3d829f7dca44d948cd0795a65fd66f2b
Successfully built financial-planner
Installing collected packages: financial-planner
  Attempting uninstall: financial-planner
    Found existing installation: financial-planner 0.0.2
    Uninstalling financial-planner-0.0.2:
      Successfully uninstalled financial-planner-0.0.2
Successfully installed financial-planner-0.0.2

# Cash Flow Analysis Calculator

In [2]:
import pandas as pd

In [3]:
from financial_planner.entities.household import Person
from financial_planner.entities.income import Job
from financial_planner.entities.expense import Expenses


person = Person(
    age=30,
    gender='M'
)
person.add_job(Job(salary=300000, salary_growth_rate=0.02))
person.add_expense(Expenses('living expenses', amount=20000))
person.add_expense(Expenses('loan', amount=20000))
print(person)

<financial_planner.entities.household.Person object at 0x1200e96d0>

In [4]:
from financial_planner.calculators.Cash_Flow_Analysis import CashFlow

scenario = CashFlow(person=person)

In [5]:
df_results = scenario.run()
df_results

,income,living expenses,loan,total expense,net income
2020-06,25041.289533,1666.666667,1666.666667,3333.333333,21707.956199
2020-07,25082.647258,1666.666667,1666.666667,3333.333333,21749.313925
2020-08,25124.073289,1666.666667,1666.666667,3333.333333,21790.739956
2020-09,25165.567739,1666.666667,1666.666667,3333.333333,21832.234406
2020-10,25207.130720,1666.666667,1666.666667,3333.333333,21873.797387
...,...,...,...,...,...
2050-01,44986.109664,1666.666667,1666.666667,3333.333333,41652.776331
2050-02,45060.407882,1666.666667,1666.666667,3333.333333,41727.074548
2050-03,45134.828809,1666.666667,1666.666667,3333.333333,41801.495475
2050-04,45209.372648,1666.666667,1666.666667,3333.333333,41876.039315
2050-05,45284.039603,1666.666667,1666.666667,3333.333333,41950.706269